## Step 1: Import neccessary libraries.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Step 2: load dataset

In [3]:
df = pd.read_csv('Online Retail Data Set.csv',  encoding='latin1')

In [4]:
#head
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [5]:
#tail
df.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,09-12-2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,09-12-2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,09-12-2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,09-12-2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,09-12-2011 12:50,4.95,12680.0,France

## Step 3: Sanity check of the data

In [6]:
#shape
df.shape

(541909, 8)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [8]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

### Handling Missing Values

In [9]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [10]:
# imupting descriptiom based on stock code
description_impute = df.groupby('StockCode')['Description'].apply(lambda x: x.mode()[0] if not x.mode().empty else "Unknown Item")
df['Description'] = df.apply(lambda row: description_impute[row['StockCode']] if pd.isnull(row['Description']) else row['Description'], axis=1)

# retaining customer id
df['CustomerID'] = df['CustomerID'].fillna(0)

# Checking for missing values after handling
print("\nMissing values after handling:")
print(df.isnull().sum())

Missing values after handling:
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [11]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

### Handling duplicates

In [12]:
# Check for duplicate rows
duplicate_rows = df[df.duplicated()]
print(duplicate_rows)

       InvoiceNo StockCode                        Description  Quantity  \
517       536409     21866        UNION JACK FLAG LUGGAGE TAG         1
527       536409     22866      HAND WARMER SCOTTY DOG DESIGN         1
537       536409     22900    SET 2 TEA TOWELS I LOVE LONDON          1
539       536409     22111       SCOTTIE DOG HOT WATER BOTTLE         1
555       536412     22327  ROUND SNACK BOXES SET OF 4 SKULLS         1
...          ...       ...                                ...       ...
541675    581538     22068        BLACK PIRATE TREASURE CHEST         1
541689    581538     23318     BOX OF 6 MINI VINTAGE CRACKERS         1
541692    581538     22992             REVOLVER WOODEN RULER          1
541699    581538     22694                       WICKER STAR          1
541701    581538     23343       JUMBO BAG VINTAGE CHRISTMAS          1

             InvoiceDate  UnitPrice  CustomerID         Country
517     01-12-2010 11:45       1.25     17908.0  United Kingdom
527     01-12-2010 11:45       2.10     17908.0  United Kingdom
537     01-12-2010 11:45       2.95     17908.0  United Kingdom
539     01-12-2010 11:45       4.95     17908.0  United Kingdom
555     01-12-2010 11:49       2.95     17920.0  United Kingdom
...                  ...        ...         ...             ...
541675  09-12-2011 11:34       0.39     14446.0  United Kingdom
541689  09-12-2011 11:34       2.49     14446.0  United Kingdom
541692  09-12-2011 11:34       1.95     14446.0  United Kingdom
541699  09-12-2011 11:34       2.10     14446.0  United Kingdom
541701  09-12-2011 11:34       2.08     14446.0  United Kingdom

[5268 rows x 8 columns]

In [11]:
# Check for all duplicate rows
print(df[df.duplicated()])

# Check for duplicate rows based on specific columns
print(df[df.duplicated(subset=['InvoiceNo', 'StockCode'])])

       InvoiceNo StockCode                        Description  Quantity  \
517       536409     21866        UNION JACK FLAG LUGGAGE TAG         1
527       536409     22866      HAND WARMER SCOTTY DOG DESIGN         1
537       536409     22900    SET 2 TEA TOWELS I LOVE LONDON          1
539       536409     22111       SCOTTIE DOG HOT WATER BOTTLE         1
555       536412     22327  ROUND SNACK BOXES SET OF 4 SKULLS         1
...          ...       ...                                ...       ...
541675    581538     22068        BLACK PIRATE TREASURE CHEST         1
541689    581538     23318     BOX OF 6 MINI VINTAGE CRACKERS         1
541692    581538     22992             REVOLVER WOODEN RULER          1
541699    581538     22694                       WICKER STAR          1
541701    581538     23343       JUMBO BAG VINTAGE CHRISTMAS          1

             InvoiceDate  UnitPrice  CustomerID         Country
517     01-12-2010 11:45       1.25     17908.0  United Kingdom
527     01-12-2010 11:45       2.10     17908.0  United Kingdom
537     01-12-2010 11:45       2.95     17908.0  United Kingdom
539     01-12-2010 11:45       4.95     17908.0  United Kingdom
555     01-12-2010 11:49       2.95     17920.0  United Kingdom
...                  ...        ...         ...             ...
541675  09-12-2011 11:34       0.39     14446.0  United Kingdom
541689  09-12-2011 11:34       2.49     14446.0  United Kingdom
541692  09-12-2011 11:34       1.95     14446.0  United Kingdom
541699  09-12-2011 11:34       2.10     14446.0  United Kingdom
541701  09-12-2011 11:34       2.08     14446.0  United Kingdom

[5268 rows x 8 columns]
       InvoiceNo StockCode                      Description  Quantity  \
125       536381     71270                  PHOTO CLIP LINE         3
498       536409    90199C  5 STRAND GLASS NECKLACE CRYSTAL         1
502       536409     85116  BLACK CANDELABRA T-LIGHT HOLDER         5
517       536409     21866      UNION JACK FLAG LUGGAGE TAG         1
525       536409    90199C  5 STRAND GLASS NECKLACE CRYSTAL         2
...          ...       ...                              ...       ...
541692    581538     22992           REVOLVER WOODEN RULER          1
541697    581538     21194        PINK  HONEYCOMB PAPER FAN         1
541698    581538    35004B      SET OF 3 BLACK FLYING DUCKS         1
541699    581538     22694                     WICKER STAR          1
541701    581538     23343     JUMBO BAG VINTAGE CHRISTMAS          1

             InvoiceDate  UnitPrice  CustomerID         Country
125     01-12-2010 09:41       1.25     15311.0  United Kingdom
498     01-12-2010 11:45       6.35     17908.0  United Kingdom
502     01-12-2010 11:45       2.10     17908.0  United Kingdom
517     01-12-2010 11:45       1.25     17908.0  United Kingdom
525     01-12-2010 11:45       6.35     17908.0  United Kingdom
...                  ...        ...         ...             ...
541692  09-12-2011 11:34       1.95     14446.0  United Kingdom
541697  09-12-2011 11:34       0.65     14446.0  United Kingdom
541698  09-12-2011 11:34       5.45     14446.0  United Kingdom
541699  09-12-2011 11:34       2.10     14446.0  United Kingdom
541701  09-12-2011 11:34       2.08     14446.0  United Kingdom

[10684 rows x 8 columns]

In [12]:
# Drop duplicate rows and keep the first occurrence
df_cleaned = df.drop_duplicates()

In [13]:
# Drop duplicates and keep the last occurrence
df_cleaned = df.drop_duplicates(keep='last')

In [14]:
# Drop duplicates based on 'InvoiceNo' and 'StockCode'
df_cleaned = df.drop_duplicates(subset=['InvoiceNo', 'StockCode'])

In [15]:
# Group by duplicate identifiers and aggregate Quantity
df_cleaned = df.groupby(['InvoiceNo', 'StockCode'], as_index=False).agg({
    'Quantity': 'sum',
    'UnitPrice': 'mean',  # Use mean for numeric columns if needed
    'Description': 'first',  # Retain first description
    'CustomerID': 'first',   # Retain first customer ID
    'Country': 'first'       # Retain first country
})

In [1]:
# Create a column to flag duplicates
df['is_duplicate'] = df.duplicated()
print(df[df.duplicated()])

NameError: name 'df' is not defined

# checking remaining duplicates

In [18]:
# Check for any remaining duplicate rows
remaining_duplicates = df[df.duplicated()]
print(remaining_duplicates)

# Count the number of remaining duplicate rows
print(f"Number of duplicate rows: {remaining_duplicates.shape[0]}")

       InvoiceNo StockCode                        Description  Quantity  \
517       536409     21866        UNION JACK FLAG LUGGAGE TAG         1
527       536409     22866      HAND WARMER SCOTTY DOG DESIGN         1
537       536409     22900    SET 2 TEA TOWELS I LOVE LONDON          1
539       536409     22111       SCOTTIE DOG HOT WATER BOTTLE         1
555       536412     22327  ROUND SNACK BOXES SET OF 4 SKULLS         1
...          ...       ...                                ...       ...
541675    581538     22068        BLACK PIRATE TREASURE CHEST         1
541689    581538     23318     BOX OF 6 MINI VINTAGE CRACKERS         1
541692    581538     22992             REVOLVER WOODEN RULER          1
541699    581538     22694                       WICKER STAR          1
541701    581538     23343       JUMBO BAG VINTAGE CHRISTMAS          1

             InvoiceDate  UnitPrice  CustomerID         Country  is_duplicate
517     01-12-2010 11:45       1.25     17908.0  United Kingdom         False
527     01-12-2010 11:45       2.10     17908.0  United Kingdom         False
537     01-12-2010 11:45       2.95     17908.0  United Kingdom         False
539     01-12-2010 11:45       4.95     17908.0  United Kingdom         False
555     01-12-2010 11:49       2.95     17920.0  United Kingdom         False
...                  ...        ...         ...             ...           ...
541675  09-12-2011 11:34       0.39     14446.0  United Kingdom         False
541689  09-12-2011 11:34       2.49     14446.0  United Kingdom         False
541692  09-12-2011 11:34       1.95     14446.0  United Kingdom         False
541699  09-12-2011 11:34       2.10     14446.0  United Kingdom         False
541701  09-12-2011 11:34       2.08     14446.0  United Kingdom         False

[4977 rows x 9 columns]
Number of duplicate rows: 4977

In [19]:
print(remaining_duplicates.head(10))

    InvoiceNo StockCode                        Description  Quantity  \
517    536409     21866        UNION JACK FLAG LUGGAGE TAG         1
527    536409     22866      HAND WARMER SCOTTY DOG DESIGN         1
537    536409     22900    SET 2 TEA TOWELS I LOVE LONDON          1
539    536409     22111       SCOTTIE DOG HOT WATER BOTTLE         1
555    536412     22327  ROUND SNACK BOXES SET OF 4 SKULLS         1
587    536412     22273               FELTCRAFT DOLL MOLLY         1
589    536412     22749  FELTCRAFT PRINCESS CHARLOTTE DOLL         1
594    536412     22141     CHRISTMAS CRAFT TREE TOP ANGEL         1
598    536412     21448          12 DAISY PEGS IN WOOD BOX         1
600    536412     22569        FELTCRAFT CUSHION BUTTERFLY         2

          InvoiceDate  UnitPrice  CustomerID         Country  is_duplicate
517  01-12-2010 11:45       1.25     17908.0  United Kingdom         False
527  01-12-2010 11:45       2.10     17908.0  United Kingdom         False
537  01-12-2010 11:45       2.95     17908.0  United Kingdom         False
539  01-12-2010 11:45       4.95     17908.0  United Kingdom         False
555  01-12-2010 11:49       2.95     17920.0  United Kingdom         False
587  01-12-2010 11:49       2.95     17920.0  United Kingdom         False
589  01-12-2010 11:49       3.75     17920.0  United Kingdom         False
594  01-12-2010 11:49       2.10     17920.0  United Kingdom         False
598  01-12-2010 11:49       1.65     17920.0  United Kingdom         False
600  01-12-2010 11:49       3.75     17920.0  United Kingdom         False

In [20]:
# Recalculate the 'is_duplicate' flag
df['is_duplicate'] = df.duplicated(keep=False)

In [21]:
# Drop duplicates
df = df.drop_duplicates(subset=['InvoiceNo', 'StockCode'])

In [22]:
df = df.drop_duplicates()

In [23]:
remaining_duplicates = df[df.duplicated()]
print(remaining_duplicates.head(10))

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, is_duplicate]
Index: []

# EDA

In [ ]:
df['Month'] = df['InvoiceDate'].dt.month_name()
df['Day'] = df['InvoiceDate'].dt.day_name()
df['Year']= df['InvoiceDate'].dt.year
df['Time'] = df['InvoiceDate'].dt.time